@media (max-width: 1200px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  color: #112A46;
  background-color: #F3DAE3;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card-will {
  border-radius: 50px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F3DAEF;
  margin: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-socials {
  border-radius: 50px;
  text-align: center;
  font-weight: light;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F3DAEF;
  margin: 25px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 180px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.socials-inline {
  list-style: none;
  padding-left: 0;
}

.socials-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 50px;
}


a {
  text-decoration: underline;
  color: #112A46;
  transition: 0.3s all;
}

a:hover {
  color: #FAF9F6;
}

.btn-blue {
  background-color: #112A46;
  color: #F3DAEF;
  padding: 15px 20px;
  border-radius: 4px;
  margin: 10px;
  border: 20px;
}

.btn-blue:hover {
  background-color: #F3DAEF;
  color: #112A46;
}
